@model FilterFormAndProjectViewModel


@{
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_SecondLayout.cshtml";
    }
    else
    {

    }
    ViewData["Title"] = @ViewBag.DocumentTypeName;
}
<link href="~/css/Card.css" rel="stylesheet" />

<section class="recent-posts">
    <div class="section-title">
        <h2><span>@ViewBag.DocumentTypeName Category </span></h2>
    </div>
    <div class="row">
        <form id="myFormParam" class="col-md-4" method="post" asp-action="FilterProjectsBySpecificParmeters" asp-controller="Project">
            <div class="form-group">
                <input type="text" class="form-control" asp-for="StudyTitle" placeholder="Search">
            </div>
            <div class="form-group">
                <select class="form-control" asp-items="@Model.SelectDocumentType" asp-for="DocumentTypeId" disabled>
                    <option selected> Filter by Document Type </option>
                </select>
            </div>

            <div class="form-group">
                <select class="form-control" asp-for="CountryId" asp-items="@Model.SelectCountry">
                    <option selected> Filter By country </option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" asp-for="LanguageId" asp-items="@Model.SelectLanguage">
                    <option selected> Filter By Language</option>
                </select>
            </div>

            <input id="myFormwithParameters" type="button" class="btn btn-success" value="Apply Filter" />
        </form>
        <div class="col-md">

            @if (Model.projects.Count == 0)
            {
                <h4 style="text-align:center">No Data found </h4>
            }
            else
            {
        <div id="FilteredProject">
                @await Html.PartialAsync("~/Views/Project/_AllProjectsPartialView.cshtml");

        </div>

            }



        </div>
    </div>
</section>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/toastr.js/toastr.min.js"></script>
<script>

    $('#myFormwithParameters').click(function () {

        var Formdata = $('#myFormParam').serializeArray();
        console.log($('#myFormParam').serializeArray());
        Formdata.pop();// remove array last element
        let data = {}
        for (var i = 0; i < Formdata.length; i++) {
            data[Formdata[i].name] = Formdata[i].value;
        }
        
        $.ajax({
            url: "/Project/FilterProjectsBySpecificParmeters",
            dataType: 'html',
            method: 'post',
            data: { "model": data },
            beforeSend: function () {
                toastr.info("Filtering data", "Filtering")
            },
            success: function (res) {
                $("#FilteredProject").html(res);
                toastr.success("Data filtered", "Success")
            },
            error: function (err) {
                console.log(err, "err");
                toastr.error("An error Ocurred", "Error")
            }
        });



    });

</script>