@model List<DocumentType>

@{

    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_SecondLayout.cshtml";
    }
    else
    {

    }
    ViewData["Title"] = "All Document Type";
}

<style>

    .dropdown {
        position: absolute;
        display: inline-block;
        right: 0.4em;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        padding: 2%;
        margin-top: 0px;
        background-color: #f9f9f9;
        min-width: 60px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        background-color: #f1f1f1;
    }

    i {
        padding: 2%;
    }

        i:hover .dropdown-content {
            color: blue;
            display: block;
        }
</style>

<section class="featured-posts">
    <div class="section-title">
        <h2>
            <span>All Document Types</span>
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-primary" asp-action="CreateDocumentType" asp-controller="DocumentType" style="float:right">Add DocumentType</a>

            }

        </h2>

    </div>

    <div class="card-columns listfeaturedtag">

        @foreach (var item in Model)
        {
            <div class="card" style="padding:2%; height:114px">
                <div style="display:flex;">
                    <div class="col-md-3">
                        <a asp-controller="DocumentType" asp-action="CategoryProject" asp-route-CategoryId="@item.DocumentTypeId" style="width:0px">
                            <div style="height: 100px; width: 80px;">
                                @if (@item.DocumentTypeIcon == null)
                                {
                                    <img class="thumbnail" style="object-fit: cover; height: 100%; width: 100%;" src="https://thumbs.dreamstime.com/z/no-image-available-icon-photo-camera-flat-vector-illustration-132483097.jpg" alt="">

                                }
                                else
                                {
                                    <img class="thumbnail" style="object-fit: cover; height: 100%; width: 100%;" src="data:image;base64,@Convert.ToBase64String(item.DocumentTypeIcon)" ; />

                                }


                            </div>
                        </a>
                    </div>
                    <div class="col-md-7">
                        <div class="">
                            <h2 class="card-title">
                                <a asp-controller="DocumentType" asp-action="CategoryProject" asp-route-CategoryId="@item.DocumentTypeId">@item.DocumentTypeName</a>
                            </h2>

                            <div class="metafooter">
                                <div class="wrapfooter">
                                    <span class="meta-footer-thumb">
                                        <a>
                                        </a>
                                    </span>
                                    <span class="author-meta">
                                        <span class="post-name"><a>B.I.R.D</a></span><br />
                                    </span>
                                    @*<span class="post-read-more"><a asp-controller="DocumentType" asp-action="CategoryProject" asp-route-CategoryId="@item.CategoryId" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <i class='bx bx-dots-vertical-rounded' style="float:right;padding:2%; ">
                                <!-- menu -->
                                <div id="myDropdown" class="dropdown-content">
                                    <a class="btn btn-warning"
                                       asp-controller="DocumentType" asp-action="EditDocumentType" asp-route-DocumentTypeId="@item.DocumentTypeId">Edit</a>
                                    <a class="btn btn-danger"
                                       asp-route-DocumentTypeId="@item.DocumentTypeId"
                                       onclick="return ConfirmDeleteForDocumentType(@item.DocumentTypeId)">Delete</a>
                                </div>
                            </i>
                        }

                       
                    </div>
                </div>
            </div>

        }

        <!-- end post -->

    </div>
</section>



<script>
    function changeLanguage(language) {
        var element = document.getElementById("url");
        element.value = language;
        element.innerHTML = language;
    }

    function showDropdown() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }


    ////////Delete for DocumentType//////////
    var object = { status: false, ele: null }
    function ConfirmDeleteForDocumentType(ev) {

        console.log("the id:", ev)
        if (object.status) { return true; };
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this record",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
            function () {
                object.status = true;
                object.ele = ev;
                console.log("i am deleted");

                $.ajax({
                    url: "/DocumentType/DeleteDocumentType",
                    dataType: 'html',
                    method: 'get',
                    data: { 'DocumentTypeId': ev },
                    success: function (res) {
                        console.log('Sucess');
                        swal("Deleted!", "Your imaginary file has been deleted.", "success");
                        window.location.href = "/DocumentType/Index";
                    },
                    error: function (err) {
                        console.log(err, "err");
                        swal("Error!", "We could not access the server.", "error");
                    }
                });
                object.ele.click();
                swal("Deleted!", "This project has been deleted.", "success");
            });
        return false;
    };

</script>