@model AnalysisViewModel

    @{
        ViewData["Title"] = "Admin";
        Layout = "~/Views/Shared/_SecondLayout.cshtml";
    }
    <link href="~/css/AdminAnalysisCard.css" rel="stylesheet" />
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
    <h1>Analysis</h1>

    <div class="header-body">
        <div class="row">
            <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Total Projects</h5>
                                <span class="h2 font-weight-bold mb-0">@Model.Totalprojects</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                    <i class="fas fa-chart-bar"></i>
                                </div>
                            </div>
                        </div>
                        @*<p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                            <span class="text-nowrap">Since last month</span>
                        </p>*@
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Total Categories</h5>
                                <span class="h2 font-weight-bold mb-0">@Model.TotalCategories</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                    <i class="fas fa-chart-pie"></i>
                                </div>
                            </div>
                        </div>
                        @*<p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                            <span class="text-nowrap">Since last week</span>
                        </p>*@
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Total Website Visit</h5>
                                <span class="h2 font-weight-bold mb-0">@Model.TotalVisits</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                    <i class="fas fa-users"></i>
                                </div>
                            </div>
                        </div>
                        @*<p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                            <span class="text-nowrap">Since yesterday</span>
                        </p>*@
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                    <!--<div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Most Visited Project</h5>
                                <span class="h2 font-weight-bold mb-0">49,65%</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                    <i class="fas fa-percent"></i>
                                </div>
                            </div>
                        </div>-->
                        @*<p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                            <span class="text-nowrap">Since last month</span>
                        </p>*@
                    <!--</div>-->
                </div>
            </div>
        </div>

        <h3 style="margin-top:3%; color:black">Most Visted Projects</h3>

        <div id="chart_container" style="
                            border:1px solid #ddd;
                            height:400px;
                            padding:1px;
                            border-radius:4px">
            <canvas id="bar_chart">
            </canvas>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="~/lib/Chart.js/chart.js" defer></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/Chart.js/chart.min.js" ></script>

    <script>
    var RepArray = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.Rep))');
    var Projects = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.Projects))');

    console.log(RepArray, Projects);

        var ctx = $("#bar_chart");
    var barChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: Projects,
            datasets: [{
                label: "Bar graph",
                data: RepArray,
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
            }]
        },
        options: {
            maintainAspectRatio: false,
            legend: { display: false }
        }
    });
    </script>
