@model ProjectAndDocumentTypeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/Card.css" rel="stylesheet" />

<!-- Begin Site Title
================================================== -->
<div class="container">
    <div class="mainheading">
        <h1 class="sitetitle">TSUE</h1>
        <p class="lead">
            Planning, Sustainability and International Development
        </p>
    </div>
    <!-- End Site Title
    ================================================== -->
    <!-- Begin Featured
    ================================================== -->
    <section class="featured-posts">
        <div class="section-title">
            <h2><span>All Document Types</span></h2>
        </div>
        <div class="card-columns listfeaturedtag">

            @foreach (var item in Model.documentType)
            {
                <a asp-controller="DocumentType" asp-action="GetProjectsBelongingToDocumentType" asp-route-DocumentTypeId="@item.DocumentTypeId">
                    <div  class="card" style="padding: 2%; height: 114px; background-color: #2E5F3B; color: white; ">
                        <div style="display:flex;">
                            <div class="col-md-3">
                                <a asp-controller="DocumentType" asp-action="GetProjectsBelongingToDocumentType" asp-route-DocumentTypeId="@item.DocumentTypeId" style="width:0px; ">
                                    <div style="height: 100px; width: 80px;">
                                        @if (@item.DocumentTypeIcon == null)
                                        {
                                            <img class="thumbnail" style="object-fit: cover; height: 100%; width: 100%;" src="assets/img/demopic/10.jpg" alt="">

                                        }
                                        else
                                        {
                                            <img class="thumbnail" style="object-fit: cover; height: 100%; width: 100%; background-color: #369036" src="data:image;base64,@Convert.ToBase64String(item.DocumentTypeIcon)" ; />

                                        }


                                    </div>
                                </a>
                            </div>
                            <div class="col-md-7">
                                <div class="">
                                    <h2 class="card-title">
                                        <a style="color: white" asp-controller="DocumentType" asp-action="GetProjectsBelongingToDocumentType" asp-route-DocumentTypeId="@item.DocumentTypeId">@item.DocumentTypeName</a>

                                    </h2>

                                    <div class="metafooter">
                                        <div class="wrapfooter">
                                            <span class="meta-footer-thumb">
                                                <a>
                                                </a>
                                            </span>
                                            <span class="author-meta">
                                                <span class="post-name"><a>Bird-Project</a></span><br />
                                            </span>
                                            @*<span class="post-read-more"><a asp-controller="DocumentType" asp-action="GetProjectsBelongingToDocumentType" asp-route-CategoryId="@item.CategoryId" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <i class='bx bx-dots-vertical-rounded' style="float:right;padding:2%; ">
                                        <!-- menu -->
                                        <div id="myDropdown" class="dropdown-content">
                                            <a class="btn btn-warning"
                                               asp-controller="DocumentType" asp-action="EditDocumentType" asp-route-DocumentTypeId="@item.DocumentTypeId">Edit</a>
                                            <a class="btn btn-danger"
                                               asp-route-CategoryId="@item.DocumentTypeId"
                                               onclick="return ConfirmDeleteForCategory(@item.DocumentTypeId)">Delete</a>
                                        </div>
                                    </i>
                                }


                            </div>
                        </div>
                    </div>

                </a>
            }

            <!-- end post -->

        </div>
    </section>
    <!-- End Featured
    ================================================== -->
    <!-- Begin List Posts
    ================================================== -->
    <section class="recent-posts">

        <a asp-controller="DocumentType" asp-action="Index" class="btn btn-success" style="float:right;">
            <div><span style="font-weight:400;">>>> </span>View All</div>
        </a>

    </section>


    <section class="recent-posts">
        <div class="section-title">
            <h2><span>Latest Projects</span></h2>
        </div>
        <div style="display:flex; flex-wrap:wrap; grid-gap:1px">

            @if (Model.Projects.Count == 0)
            {
                <h4 style="text-align:center">No Data found</h4>
            }
            else
            {
                @foreach (var item in Model.Projects)
                {
                    <div class="card" style="padding:2%; width:539px;height:200px; margin-bottom:5px; ">
                        <div class="Card_container">
                            <div>
                                <a asp-controller="Project" asp-action="ViewProject" asp-route-ProjectId="@item.ProjectId" style="width:0px">
                                    <div style="height: 150px; width: 110px;">
                                        @if (@item.ProjectIcon == null)
                                        {
                                            <img class="thumbnail" style="object-fit: cover; height: 100%; width: 100%;" src="https://www.kindpng.com/picc/m/86-865923_no-document-hd-png-download.png" alt="">

                                        }
                                        else
                                        {
                                            <img class="thumbnail" style="object-fit: cover; height: 100%; width: 100%;" src="data:image;base64,@Convert.ToBase64String(item.ProjectIcon)" ; />

                                        }


                                    </div>
                                </a>
                            </div>
                            <div style="display: flex; flex-direction: column; justify-content: space-around;">
                                <div class="card-title">
                                    <h4 style="font-size:13px; color:white">@item.DocumentType.DocumentTypeName</h4>
                                    <a style="overflow: hidden; text-overflow: ellipsis; color:white; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; /* number of lines to show */ font-size:12px; "
                                       asp-controller="Project" asp-action="ViewProject" asp-route-ProjectId="@item.ProjectId">@item.StudyTitle</a>
                                </div>

                                <div class="controls">
                                    <div class="Calander">
                                        <i class='bx bx-calendar'></i>
                                        <p>@item.YearOfPublication</p>
                                    </div>
                                    <div class="Pages">
                                        <i class='bx bx-spreadsheet'></i>
                                        <p style="width:170px">@item.Authors</p>
                                    </div>
                                    <div class="Attach">
                                        <i class='bx bx-paperclip'></i>
                                        <p>@item.ProjectDocuments.Count Documents</p>
                                    </div>
                                    <div class="Languages">
                                        <i class='bx bx-world'></i>
                                        <p>@item.ProjectLanguages.FirstOrDefault().Language.LanguageName</p>
                                    </div>
                                </div>
                            </div>
                            <div style="display: grid; grid-template-rows: auto 1fr; grid-gap:10%">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <i class='bx bx-dots-vertical-rounded' style="float:right;padding:2%; ">
                                        <!-- menu -->
                                        <div id="myDropdown" class="dropdown-content">
                                            <a class="btn btn-warning"
                                               asp-controller="Project" asp-action="UpdateProject" asp-route-ProjectId="@item.ProjectId">Edit</a>
                                            <a class="btn btn-danger"
                                               asp-route-ProjectId="@item.ProjectId"
                                               onclick="return ConfirmDeleteForProject(@item.ProjectId)">Delete</a>
                                        </div>
                                    </i>
                                }

                                <div style=" display: flex; flex-direction: column; justify-content:space-evenly ">
                                    <a asp-controller="Project" asp-action="ViewProject" asp-route-ProjectId="@item.ProjectId" class="OverView">
                                        <i style=" font-size: 24px; " class='bx bx-file-find'></i>
                                        <p>Overview</p>
                                    </a>
                                    <div class="OverView">
                                        <i class='bx bx-share-alt'></i>
                                        <p>Share</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }


        </div>
    </section>
    <section class="recent-posts">

        <a asp-controller="Project" asp-action="Index" class="btn btn-success" style="float:right;">
            <div><span style="font-weight:400;">>>> </span>View All</div>
        </a>

    </section>

</div>
<!-- /.container -->

<script>
    //Confirm Delete For Project
    var object = { status: false, ele: null }
    function ConfirmDeleteForProject(ev) {

        console.log("the id:", ev)
        if (object.status) { return true; };
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this record",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
            function () {
                object.status = true;
                object.ele = ev;
                console.log("i am deleted");

                $.ajax({
                    url: "/Project/DeleteProject",
                    dataType: 'html',
                    method: 'get',
                    data: { 'ProjectId': ev },
                    success: function (res) {
                        console.log('Sucess');
                        swal("Deleted!", "Your imaginary file has been deleted.", "success");
                        window.location.href = "/Project/Index";
                    },
                    error: function (err) {
                        console.log(err, "err");
                        swal("Error!", "We could not access the server.", "error");
                    }
                });
                object.ele.click();
                swal("Deleted!", "This project has been deleted.", "success");
            });
        return false;
    };
</script>
