@model ProjectAndCategoryViewModel

@{
    ViewData["Title"] = "Home Page";
}

<!-- Begin Site Title
================================================== -->
<div class="container">
    <div class="mainheading">
        <h1 class="sitetitle">TSUE</h1>
        <p class="lead">
            Planning, Sustainability and International Development
        </p>
    </div>
    <!-- End Site Title
    ================================================== -->
    <!-- Begin Featured
    ================================================== -->
    <section class="featured-posts">
        <div class="section-title">
            <h2><span>Categories</span></h2>
        </div>
        <div class="card-columns listfeaturedtag">

            @foreach (var item in Model._Categories)
            {
                <div class="card">
                    <div class="row">
                        <div class="col-md-5 wrapthumbnail">
                            <a asp-controller="Category" asp-action="CategoryProject" asp-route-CategoryId="@item.CategoryId">
                                <div style="height: 260px; width: 200px;">
                                    @if (@item.CategoryImage == null)
                                    {
                                        <img class="thumbnail" style="object-fit: cover; height: 100%; width: 100%;" src="assets/img/demopic/10.jpg" alt="">

                                    }
                                    else
                                    {
                                        <img class="thumbnail" style="object-fit: cover; height: 100%; width: 100%;" src="data:image;base64,@Convert.ToBase64String(item.CategoryImage)" ; />

                                    }


                                </div>
                            </a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-block">
                                <h2 class="card-title"><a asp-controller="Category" asp-action="CategoryProject" asp-route-CategoryId="@item.CategoryId">@item.CategoryName</a></h2>
                                <h4 class="card-text">@item.CategoryDescription</h4>
                                <div class="metafooter">
                                    <div class="wrapfooter">
                                        <span class="meta-footer-thumb">
                                            <a href="author.html">
                                            </a>
                                        </span>
                                        <span class="author-meta">
                                            <span class="post-name"><a>Bird-Project</a></span><br />
                                        </span>
                                        <span class="post-read-more"><a asp-controller="Category" asp-action="CategoryProject" asp-route-CategoryId="@item.CategoryId" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }

            <!-- end post -->

        </div>
    </section>
    <!-- End Featured
    ================================================== -->
    <!-- Begin List Posts
    ================================================== -->
    <section class="recent-posts">

        <a asp-controller="Category" asp-action="Index" class="btn btn-primary" style="float:right;">
            <div><span style="font-weight:400;">>>> </span>View All</div>
        </a>

    </section>


    <section class="recent-posts">
        <div class="section-title">
            <h2><span>Latest Projects</span></h2>
        </div>
        <div class="card-columns listrecent">

            @foreach (var proj in Model.Projects)
            {
                <!-- begin post -->
                <div class="card">
                    <a asp-action="ViewProject" asp-controller="Project" asp-route-ProjectId="@proj.ProjectId">
                        <div style="height: 200px; width: 100%; ">
                            @if (proj.ProjectIcon == null)
                            {
                                <img class="thumbnail" style="object-fit:cover; height: 100%; width: 100%;" src="assets/img/demopic/10.jpg" alt="">

                            }
                            else
                            {
                                <img class="img-fluid" style="object-fit:cover; height: 100%; width: 100%;" src="data:image;base64,@Convert.ToBase64String(proj.ProjectIcon)" alt="">

                            }


                        </div>
                    </a>
                    <div class="card-block">
                        <h2 class="card-title"><a>@proj.ProjectTitle</a></h2>
                        <h4 class="card-text" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; " >
                            @proj.ProjectSummary
                        </h4>
                        <div class="metafooter">
                            <div class="wrapfooter">
                                <span class="meta-footer-thumb">
                                    <a asp-action="ViewProject" asp-controller="Project" asp-route-ProjectId="@proj.ProjectId"><img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal"></a>
                                </span>
                                <span class="author-meta">
                                    <span class="post-name"><a asp-action="ViewProject" asp-controller="Project" asp-route-ProjectId="@proj.ProjectId">@proj.Author</a></span><br />
                                    <span class="post-date">@proj.CreatedOn.Date</span><span class="dot"></span>
                                </span>
                                <span class="post-read-more"><a asp-action="ViewProject" asp-controller="Project" asp-route-ProjectId="@proj.ProjectId" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end post -->
            }


        </div>
    </section>
    <section class="recent-posts">

        <a asp-controller="Project" asp-action="Index" class="btn btn-primary" style="float:right;">
            <div><span style="font-weight:400;">>>> </span>View All</div>
        </a>

    </section>

</div>
<!-- /.container -->
