@model FilterFormAndProjectViewModel


@if (Model.projects.Count == 0)
{
    <h4 style="text-align:center">No Search Results found</h4>
}
else
{
    @foreach (var item in Model.projects)
    {
        <div class="card" style="padding:4%; width:590px;height:200px; margin-bottom:5px; ">
            <div class="Card_container">
                <div>
                    <a asp-controller="Project" asp-action="ViewProject" asp-route-ProjectId="@item.ProjectId" style="width:0px">
                        <div style="height: 150px; width: 110px;">
                            @if (@item.ProjectIcon == null)
                            {
                                <img class="thumbnail" style="object-fit: cover; height: 100%; width: 100%;" src="~/images/noImageThumbnail.jpg" alt="">

                            }
                            else
                            {
                                <img class="thumbnail" style="object-fit: cover; height: 100%; width: 100%;" src="data:image;base64,@Convert.ToBase64String(item.ProjectIcon)" ; />

                            }


                        </div>
                    </a>
                </div>
                <div style="display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="card-title">
                        <h4 style="font-size:13px">@item.DocumentType.DocumentTypeName</h4>
                        <a style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; /* number of lines to show */ font-size:12px; "
                           asp-controller="Category" asp-action="CategoryProject" asp-route-CategoryId="@item.ProjectId">@item.StudyTitle</a>
                    </div>

                    <div class="controls">
                        <div class="Calander">
                            <i class='bx bx-calendar'></i>
                            <p>@item.YearOfPublication</p>
                        </div>
                        <div class="Pages">
                            <i class='bx bx-spreadsheet'></i>
                            <p>@item.Authors</p>
                        </div>
                        <div class="Attach">
                            <i class='bx bx-paperclip'></i>
                            <p>@item.ProjectDocuments.Count Documents</p>
                        </div>
                        <div class="Languages">
                            <i class='bx bx-world'></i>
                            <p>@item.ProjectLanguages.FirstOrDefault(x => x.ProjectId == item.ProjectId).Language.LanguageName</p>
                        </div>
                    </div>
                </div>
                <div style="display: grid; grid-template-rows: auto 1fr; grid-gap:10%">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <i class='bx bx-dots-vertical-rounded' style="float: right; padding: 2%; background: white; width: 19px; border-radius: 4px; ">
                            <!-- menu -->
                            <div id="myDropdown" class="dropdown-content">
                                <a class="btn btn-warning"
                                   asp-controller="Category" asp-action="EditDocumentType" asp-route-DocumentTypeId="@item.DocumentTypeId">Edit</a>
                                <a class="btn btn-danger"
                                   asp-route-CategoryId="@item.DocumentTypeId"
                                   onclick="return ConfirmDeleteForCategory(@item.DocumentTypeId)">Delete</a>
                            </div>
                        </i>
                    }

                    <div style=" display: flex; flex-direction: column; justify-content:space-evenly ">
                        <div class="OverView">
                            <i style=" font-size: 24px; " class='bx bx-file-find'></i>
                            <p>Overview</p>
                        </div>
                        <div class="OverView">
                            <i class='bx bx-share-alt'></i>
                            <p>Share</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}

<script>
    //Confirm Delete For Project
    var object = { status: false, ele: null }
    function ConfirmDeleteForProject(ev) {

        console.log("the id:", ev)
        if (object.status) { return true; };
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this record",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
            function () {
                object.status = true;
                object.ele = ev;
                console.log("i am deleted");

                $.ajax({
                    url: "/Project/DeleteProject",
                    dataType: 'html',
                    method: 'get',
                    data: { 'ProjectId': ev },
                    success: function (res) {
                        console.log('Sucess');
                        swal("Deleted!", "Your imaginary file has been deleted.", "success");
                        window.location.href = "/Project/Index";
                    },
                    error: function (err) {
                        console.log(err, "err");
                        swal("Error!", "We could not access the server.", "error");
                    }
                });
                object.ele.click();
                swal("Deleted!", "This project has been deleted.", "success");
            });
        return false;
    };

</script>

