
@{
    ViewData["Title"] = "All projects";
}


<!-- Begin Site Title
=

    ================================================= -->
<div class="container">
 
    <!-- End Site Title
    ================================================== -->
    <!-- Begin Featured
    ================================================== -->
    <section class="featured-posts">
        <div class="section-title">
            <h2><span>All Projects</span></h2>
        </div>
        <div class="card-columns listfeaturedtag">

            @foreach (var item in Model)
            {
                <div class="card">
                    <div class="row">
                        <div class="col-md-5 wrapthumbnail">
                            <a href="post.html">
                                <div style="height: 260px; width: 200px;">
                                    <img class="thumbnail" style="object-fit: cover; height: 100%; width: 100%;" src="data:image;base64,@Convert.ToBase64String(item.ProjectIcon)" ; />
                                </div>
                            </a>
                        </div>
                        <div class="col-md-7">
                            <div class="card-block">
                                <h2 class="card-title"><a href="post.html">@item.ProjectTitle</a></h2>
                                <h4 class="card-text">@item.ProjectSummary</h4>
                                <div class="metafooter">
                                    <div class="wrapfooter">
                                        <span class="meta-footer-thumb">
                                            <a href="author.html">
                                            </a>
                                        </span>
                                        <span class="author-meta">
                                            <span class="post-name"><a>@item.Author</a></span><br />
                                        </span>
                                        <span class="post-read-more"><a asp-controller="Project" asp-action="ViewProject" asp-route-ProjectId="@item.ProjectId" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                                        <span><a asp-action="UpdateProject" asp-controller="Project" asp-route-projectId="@item.ProjectId"><i class="fas fa-edit "></i></a></span>
                                        <span><a asp-action="DeleteProject" asp-controller="Project" asp-route-projectId="@item.ProjectId" onclick="return ConfirmDelete(this)"><i class="fas fa-trash"></i></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }

            <!-- end post -->

        </div>
    </section>
    <!-- End Featured
    ================================================== -->
    <!-- Begin List Posts
    ================================================== -->



</div>

<script>
    var object = { status: false, ele: null }
    function ConfirmDelete(ev) {

        if (object.status) { return true; };
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this record",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
            function () {
                object.status = true;
                object.ele = ev;

                object.ele.click();
                swal("Deleted!", "This project has been deleted.", "success");
            });
        return false;

    };
</script>